.about-container {
    font-family: primary-bold;
    color: black;
    background-color: #4b4b4b;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.about-background {
    background-image: url('../assets/img/Forza2.PNG');
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-size: cover;
    background-position: center calc(50% + 40px);
}

.about-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #4b4b4bdf;
    z-index: 2;
    bottom: 0;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 60vw;
    border-radius: 15px;
    background-color: #ffffff;
    z-index: 2;
    margin: 5vh 0; 
    padding: 5vh 5vw;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-out forwards;
    opacity: 0;
}

.about-content h2 {
    text-align: center;
    margin-bottom: 4vh;
}

.about-section {
    width: 100%;
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1000px) {
    .about-content {
        width: 70vw;
    }
}

@media (max-width: 768px) {
    .about-content {
        width: 90vw;
    }
}