.record-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record-container h2 {
    padding: 3vh 0;
    margin-top: 3vh;
}

.dash-nav-link-records{
    background: linear-gradient(to right, #FA5D88, #F86C76);
    display: flex;
    font-family: primary-bold;
    box-shadow: none;
    border-radius: 8px;
    color: #FFF;
    text-decoration: none;
    margin: 0 2vw;
    width: 20vw;
    height: 4vh;
    align-items: center;
    justify-content: center;
}

.dash-nav-link-builds{
    background: linear-gradient(to right, #F77E64, #F4914D);
    display: flex;
    font-family: primary-bold;
    box-shadow: none;
    border-radius: 8px;
    color: #FFF;
    text-decoration: none;
    margin: 0 2vw;
    width: 20vw;
    height: 4vh;
    align-items: center;
    justify-content: center;
}

.dash-container nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-container h1 {
    text-align: center;
    margin: 2vh 0;
    font-size: clamp(2rem, 5vw, 3rem);
}

.record-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    z-index: 1;
    width: 90vw;
}

.record-table {
    margin: 0;
    border: 2px solid black;
    border-collapse: collapse;
    font-family: "Poppins";
    margin-bottom: 5vh;
    width: auto;
}

.record-table td, .record-table th {
    padding: 10px 40px;
    text-align: center;
    vertical-align: middle;

}

.record-table tr {
    height: 50px;
}

.record-functions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
    border-bottom: 1px black solid;
    margin-bottom: 3vh;
    padding: 2vh 5px;
}

.create-record {
    margin: 0;
    background: linear-gradient(to right, #F4914D, #F0AC2D);
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1rem;
    box-shadow: none;
    border: 2px solid #F4914D;
    width: auto;
    height: auto;
    border-radius: 8px;
    padding: 5px;
    color: #FFF;
    text-decoration: none;
}

.create-record:hover {
    border: 2px solid #d57839;
    background: #d57839;
    color: #FFF;
}

.record-selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    gap: 10px;
}

.record-selects select {
    font-family: "Poppins";
}

.create-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #4b4b4b8e;
    z-index: 2;
    bottom: 0;
    display: none;
}

.record-delete {
    font-family: Arial, Helvetica, sans-serif;

}

.confirm-delete-content {
    z-index: 3;
    position: absolute;
    background-color: #FFF;
    color:black;
    display: none;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 15px;
    justify-content: space-around;
    top: 45vh;
    margin: 0 10px;
}

.confirm-delete-content p {
    text-align: center;
}

.confirm-delete-buttons {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #555;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media (max-width: 1180px) {
    .create-content{
        width: 65vw;
    }
}

@media (max-width: 768px) {
    .dash-nav-link-records {
        width: 30vw;
    }

    .dash-nav-link-builds {
        width: 30vw;
    }
}

@media (max-width: 900px) {
    .create-content{
        width: 90vw;
    }
}

@media (max-width: 650px) {
    .create-select-div {
        flex-direction: column;
        gap: 10px;
    }
}
