.dash-container h1 {
    padding: 3vh 0;
}

.dash-nav-link-records{
    background: linear-gradient(to right, #FA5D88, #F86C76);
    display: flex;
    font-family: primary-bold;
    box-shadow: none;
    border-radius: 8px;
    color: #FFF;
    text-decoration: none;
    margin: 0 2vw;
    width: 20vw;
    height: 4vh;
    align-items: center;
    justify-content: center;
}

.dash-nav-link-builds{
    background: linear-gradient(to right, #F77E64, #F4914D);
    display: flex;
    font-family: primary-bold;
    box-shadow: none;
    border-radius: 8px;
    color: #FFF;
    text-decoration: none;
    margin: 0 2vw;
    width: 20vw;
    height: 4vh;
    align-items: center;
    justify-content: center;
}

.dash-container nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-container h1 {
    text-align: center;
    margin: 2vh 0;
    font-size: clamp(2rem, 5vw, 3rem);
}

.record-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.record-table {
    margin: 0 5vw;
    width: 90vw;
    border: 2px solid black;
    border-collapse: collapse;
}

.record-table td, .record-table th {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.record-table tr {
    height: 50px;
}

.record-functions {
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.create-record {
    margin: 1vh 0;
    background: linear-gradient(to right, #F4914D, #F0AC2D);
    font-family: primary-bold;
    font-size: 1rem;
    box-shadow: none;
    border: 2px solid #F4914D; /* Ensures a single solid color */
    width: auto;
    height: auto;
    border-radius: 8px;
    padding: 1vh 1vw;
    color: #FFF;
    text-decoration: none;
}

.create-record:hover {
    border: 2px solid #F4914D;
    background: #FFF;
    color: #F4914D;
}

.record-selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.record-selects select {
    margin-right: 5px;
}

.create-overlay {
    width: 100%;
    height: 90vh;
    position: absolute;
    background-color: #4b4b4b8e;
    z-index: 2;
    bottom: 0;
    display: none;
}

.create-content {
    z-index: 3;
    position: absolute;
    background-color: #FFF;
    color:black;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 50vw;
    border-radius: 15px;
    z-index: 2;
    justify-content: space-around;
    top: 15vh;
}

.create-content form {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: 8vh 0;
}

.create-car-select {
    width: 100%; /* Adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    border-radius: 8px;
    border: 2px black solid;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 0;
}

.create-time-div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.create-time-div label {
    margin-right: 5px;
}

.create-time-div input {
    width: 10%;
    border-radius: 8px;
    border: 2px black solid;
    padding: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.create-time-div p {
    font-size: 1.5rem;
    margin: 0 5px;
}

.create-select-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.create-select-div select {
    border-radius: 8px;
    border: 2px black solid;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 0;
}

.create-form-submit {
    background: linear-gradient(to right, #FA5D88, #F86C76);
    font-family: primary-bold;
    font-size: 1.5rem;
    box-shadow: none;
    border: none;
    width: 20vw;
    height: 5vh;
    border-radius: 8px;
    color: #FFF;
    text-decoration: none;
    align-self: center;
    margin-top: 2vh;
}

.create-form-submit:hover {
    background: linear-gradient(to right, #F4914D, #F0AC2D);
}

.create-form-back {
    background: #FFF;
    font-family: primary-bold;
    font-size: 1.5rem;
    box-shadow: none;
    border: 2px solid #F86C76; /* Ensures a single solid color */
    width: 20vw;
    height: 5vh;
    border-radius: 8px;
    color: #F86C76;
    text-decoration: none;
    margin-bottom: 5vh;
}

.create-form-back:hover {
    background: linear-gradient(to right, #FA5D88, #F86C76);
    color: #FFF;
}

.record-delete {
    font-family: Arial, Helvetica, sans-serif;

}

.confirm-delete-content {
    z-index: 3;
    position: absolute;
    background-color: #FFF;
    color:black;
    display: none;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 15px;
    justify-content: space-around;
    top: 45vh;
}

.confirm-delete-buttons {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

@media (max-width: 1180px) {
    .create-content{
        width: 65vw;
    }
}

@media (max-width: 768px) {
    .dash-nav-link-records {
        width: 30vw;
    }

    .dash-nav-link-builds {
        width: 30vw;
    }
}

@media (max-width: 900px) {
    .create-content{
        width: 90vw;
    }
}

@media (max-width: 650px) {
    .create-select-div {
        flex-direction: column;
        gap: 10px;
    }
}
