.home-container {
    font-family: primary-bold;
    color: #FFF;
    background-color: #4b4b4b;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/img/Forza2.PNG');
    background-size: cover;
    background-position: center;
}

.home-overlay {
    width: 100%;
    height: 90vh;
    position: absolute;
    background-color: #4b4b4bdf;
    z-index: 1;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    z-index: 2;
}

.home-content h1{
    white-space: nowrap;
    font-size: clamp(3rem, 5vw, 5rem);
    margin-bottom: 5vh;
    font-family: "Righteous"
}

.home-login {
    background: linear-gradient(to right, #FA5D88, #F86C76);
    font-family: "Righteous";
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: none;
    padding: 1rem 1rem;
    border-radius: 8px;
    color: #FFF;
    text-decoration: none;
    margin-top: 5vh;
}

.home-login:hover {
    /* background: #FFF; */
    background: linear-gradient(to right, #b64463, #bd535a);
    /* color: #F86C76; */
    color: #FFF;
    text-decoration: none;
}

@media (max-width: 900) {

}
@media (max-width: 768px) {
    .home-content h1 {
        word-wrap: break-word;
        white-space: normal;
        text-align: center;
    }

    .home-content p {
        word-wrap: break-word;
        white-space: normal;
        text-align: center;
    }
}
