.navbar {
    background: linear-gradient(to right, #FF48A5, #F0AC2D);
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: primary-bold;
    height: 10vh;
  }

  .nav-logo {
    font-size: 3rem;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: clamp(0.5rem, 5vw, 1rem);

  }
  
  .nav-link {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.2s;
    color: #FFF;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color:#FFF;
  }

  .login-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
  }

  .login-link:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-decoration: none;
  }

  .login-link {
    color: #F0AC2D;
    text-decoration: none;
    background-color: #FFF;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }

  .login-link:hover{
    background-color: #f1dcc5;
  }

  .nav-logo:hover {
    color: #FFF;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .nav-link {
      padding: 0.5 0.5;
    }
    .navbar-links {
      gap: 1rem;
    }
  }